
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

div {
    padding: 40px;
    border: 1px solid black;
    margin: 10px;
    width: 100%;
}

span {
    font-size: 30px;
}

p {
    padding: 40px;
    border: 1px solid black;
}
